*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family:' Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
img{
    height: 400px;
    /* filter: blur(10); */
    /* filter: brightness(2); */
    /* filter: contrast(10); */
    /* filter: grayscale(2); */
    
}